.header__links{
    display: flex;
    list-style-type:none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.header__ref{
    text-decoration: none;
    display: flex;
}

.header__ref:first-child {
    margin-left: 30px;
}

.header__ref:nth-child(4) {
    margin-left: auto;
}