.popup__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
    opacity: 1;
    position: relative;
    height: max-content;
    border-radius: 3%;
    z-index: 11565545465;
}

.form_input-checkbo-container{
    margin-right:auto;
}