.home__navbar-net1-button,
.home__navbar-net1-button::before,
.home__navbar-net1-button::after {
    display: block;
    background-color: white;
    height: 2px;
    width: 15px;

}


.home__navbar-net1-button::before {
    content: '';
    margin-top: -4px;

}

.home__navbar-net1-button::after {
    content: '';
    margin-top: 6px;

}


.menu-button-container {

    margin-right: 15px;
    display: flex;
    width: 15px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}