.home__main-possibilities{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 320px;
}


@media screen and (max-width: 940px) {
    .home__main-possibilities {
     display: flex;
     flex-direction: column;
     margin-bottom: 300px;
     gap:10px
    }
  }