
    .home__navbar-net1-human{
        margin-left: 20px;
        margin-top: 50px;
        width: 120px;
    }




    @media screen and (max-width: 550px) {
        .home__navbar-net1-human {
            width: 90px;
        }
      }