.home__main-tutorial-img{
    max-width: 480px;
    max-height: 274px;
    object-fit: cover;
    display: block;
    z-index: -234;
   
}


.home__main-tutorial-img-container{
    position: relative;
    max-width: 480px;
    max-height: 274px;
 
}


@media screen and (max-width: 1150px) {
    .home__main-tutorial-img-container {

     order: 2;
    }
    .order{

        order: 4;
    }
  }
