.home__main-tutorial-img{
   width: 100%;
    object-fit: cover;
    display: block;
    z-index: -234;
    max-height: 280px;
   
}


.home__main-tutorial-img-container{
    max-height: 280px;
    position: relative;
 
 width: 100%;
 
}


@media screen and (max-width: 1150px) {
    .home__main-tutorial-img-container {

     order: 2;
    }
    .order{

        order: 4;
    }
  }
